/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
	box-sizing: border-box;
}





/**********************/
/* CUSTOM PROPERTIES */
/**********************/
:root {

/* Aangepaste kleurvariabelen */
	--color-text: #111;
	--color-text2: #eee;
	--color-background: #ffffff;
	--color-accents: #036242;
	--color-box-shadow: #111;
	--color-box-shadow2: #eee;
}






/****************/
/* JOUW STYLING */
/****************/

/*************************/
/* ALGEMENE INSTELLINGEN */
/*************************/
body {
	margin: 0;
	max-width: 100%;
}

.page2 main {
	margin: 0;
	max-width: 100vw;
}

a:focus,
input:focus {
	outline: none !important;
    border: 1px solid #036242;
    box-shadow: 0 0 10px var(--color-box-shadow);
}

button:focus {
	outline: none !important;
    border: 1px solid #036242;
    box-shadow: 0 5px 20px var(--color-box-shadow2);
}



/**********************************/
/* LETTERTYPEN (Mozilla.org, 2023)*/
/**********************************/
@font-face {
	font-family: "Kop";
	src: url('../fonts/LanderGrandeRegular.otf') format("opentype");
}

@font-face {
	font-family: "NormalText";
	src: url('../fonts/SoDoSans-Regular.ttf') format("truetype");
}





/*******************************/
/* HEADER SECTIE PAGINA 1 EN 2 */
/*******************************/
header {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	width: 100vw;
	padding: 1.5em;
}





/************************************/
/* ALGEMENE NAVIGATIE PAGINA 1 EN 2 */
/************************************/
/* Default styles */
nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}
  
nav ul li {
	list-style-type: none;
	padding-top: 0.2em;
	padding-right: 3.5em;
}
  
nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 1.2em;
}
  
nav ul li a:hover,
nav ul li a:active {
	text-decoration: underline;
	color: #036242;
	font-size: 1.2em;
}
  
nav button:first-of-type,
nav input:first-of-type {
	padding: 1em;
	border-radius: 2em;
}

nav > img:first-of-type {
	display: none;
}

nav input:first-of-type {
	margin: 0;
}
  
nav input:first-of-type:hover,
nav input:first-of-type:active,
nav button:first-of-type:hover,
nav button:first-of-type:active {
	border-color: #036242;
	box-shadow: 0px 0px 10px #036242;
}

@media screen and (max-width: 871x) {
	/* Verberg de "Waar te koop" knop */
	nav button:first-of-type {
	 	display: none;
	}
	
	/* Toon het hamburgermenu-icoontje */
	nav input:first-of-type {
	  	display: block;
	  	width: 6em;
		margin: 0;
	}

	nav input:first-of-type {
		padding: 1em;
		border-radius: 2em;
		margin: 0;
	}

	nav {
		margin:1em;
	}

	nav img {
		margin: 1em;
	}

	nav > img:first-of-type {
		display: flex;
	}

	nav ul:first-of-type {
		display: none;
	}

	nav ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin-left: 0em;
	}

	header {
		max-width: 100vw;
		padding: 0;
	}
}
  



/********************************/
/* ALGEMENE SECTIE INSTELLINGEN */
/********************************/
section {
	max-width: 100%;
}





/*****************/
/* EERSTE SECTIE */
/*****************/
main > section:first-of-type {
	background-color: #036242;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
}

main article:first-of-type {
	margin: 0;
	padding-left: 12em;
}

section:first-of-type p:first-of-type {
	color: var(--color-text2);
}

/* Afbeeldingen in de eerste sectie */
main > section:first-of-type img {
	height: 35em;
	width: auto;
	margin-right: 6em;
	margin-left: 8em;
	margin-top: 4em;
}





/*****************/
/* TWEEDE SECTIE */
/*****************/
section:nth-of-type(2) {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

section:nth-of-type(2) ul li:first-of-type {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

section:nth-of-type(2) li:first-of-type a {
	padding-right: 2em;
	color: #787474;
	font-size: 1.5em;
	font-family: "Kop";
	text-decoration: none;
}

section:nth-of-type(2) li:first-of-type a:hover,
section:nth-of-type(2) li:first-of-type a:active {
	font-size: 1.5em;
	font-family: "Kop";
	text-decoration: underline;
	color: #036242;
}

section:nth-of-type(2) ul {
	padding: 0;
}

section:nth-of-type(2) li:nth-of-type(2) a {
	padding-right: 1em;
	color: #787474;
	font-size: 1em;
	font-family: "NormalText";
	text-decoration: none;
}

section:nth-of-type(2) li:nth-of-type(2) a:hover,
section:nth-of-type(2) li:nth-of-type(2) a:active {
	font-size: 1em;
	font-family: "NormalText";
	text-decoration: underline;
	color: #036242;
}





/****************/
/* DERDE SECTIE */
/****************/
section:nth-of-type(3) {
	display: flex;
	justify-content: center; /* Horizontaal centreren */
	align-items: center; /* Verticaal centreren */
	flex-wrap: wrap;
}

section:nth-of-type(3) input {
	padding: 1em;
	border-radius: 2em;
	margin-left: 3em;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 60%;
	height: 4em;
}

section:nth-of-type(3) input:hover,
section:nth-of-type(3) input:active {
	padding: 1em;
	border-radius: 2em;
	border-color: #036242;
	box-shadow: 0px 0px 10px var(--color-accents);
}

section:nth-of-type(3) button {
	border-radius: 50%;
	border-color: var(--color-accents);
	background-color: var(--color-accents);
	height: 4em;
	width: 4em;
	margin-left: 1em;
}

section:nth-of-type(3) button img {
	height: 2em;
	width: auto;
}

section:nth-of-type(3) button:hover,
section:nth-of-type(3) button:active {
	border-radius: 50%;
	border-color:var(--color-accents);
	background-color: #787474;
	height: 4em;
	width: 4em;
	margin-left: 1em;
}





/*****************/
/* VIERDE SECTIE */
/*****************/
section:nth-of-type(4) {
	display: flex;
	justify-content: center; /* Plaats het grid in het midden van de container */
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

section:nth-of-type(4) ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Drie even grote kolommen */
	gap: 1em; /* Voeg ruimte tussen de grid-items toe */
	justify-content: center; /* Plaats het grid in het midden van de container */
	padding: 0;
	margin: 0;
	max-width: 100%;
}

section:nth-of-type(4) ul li {
	list-style-type: none;
	text-align: center;
	padding: 1em;
	width: 25em;
	background-color: #f8f4ec;
	position: relative; /* Maak de positie van het vakje relatief voor absolute positionering */
	box-shadow: inset 0px 0px 5px rgb(165, 146, 122);
}

section:nth-of-type(4) ul li p:first-of-type {
	margin-top: 0; /* Verwijder de bovenmarge van de p-elementen */
	position: absolute; /* Maak de positie van de p-elementen absoluut */
	right: 1em; /* Plaats de p-elementen 0.5em vanaf de rechterbovenhoek van het vakje */
	top: 1em; /* Plaats de p-elementen 0.5em vanaf de bovenkant van het vakje */
}

section:nth-of-type(4) ul img {
	max-width: 100%;
	height: auto;
}

section:nth-of-type(4) ul li h3 {
	margin-top: 1em;
	font-size: 1.2em;
	margin-bottom: 0em;
}

section:nth-of-type(4) ul li p {
	margin-top: 0em;
	font-size: 0.9em;
	margin-bottom: 2em;
}

section:nth-of-type(4) ul li a {
	text-decoration: none;
	color: inherit; /* Gebruik de kleur van de ouder (zwart) */
	font-weight: inherit; /* Gebruik de standaard letterdikte */
	font-size: inherit; /* Gebruik de standaard lettergrootte */
}

section:nth-of-type(4) ul li a p:nth-of-type(2){
	text-transform: uppercase; 
	font-size: 0.8em;
}





/***********/
/* SECTIE 5*/
/***********/
/* Center de Load More sectie, sectie 5 */
main section:nth-of-type(5) {
	text-align: center; /* Centreer de tekst horizontaal */
	padding-top: 2em; /* Voeg verticale ruimte toe boven en onder de sectie */
	padding-bottom: 4em;
}
  
/* Style voor de link in Load More */
main section:nth-of-type(5) a {
	text-decoration: none;
	color: var(--color-text);
	font-size: 1.2em;
}
  
main section:nth-of-type(5) a:hover,
main section:nth-of-type(5) a:active {
	text-decoration: underline;
	color: var(--color-accents);
	font-size: 1.2em;
}
  



/******************************************/
/*                 VOOR P2                */
/******************************************/


/**************/
/* ALGEMEEN P2*/
/**************/
.page2 main {
	max-width: 100%;
}

.page2 section {
	padding: 0;
}

.page2 h3 {
	font-family: "Kop";
	font-size: 2em;
	text-transform: uppercase; 
}

.page2 h3:first-of-type,
.page2 h3:nth-of-type(2),
.page2 h3:nth-of-type(3),
.page2 h3:nth-of-type(4),
.page2 h3:nth-of-type(5),
.page2 h3:nth-of-type(6) {
	padding-left: 2em;
	margin-left: 0.5em;
	margin-top: 3em;
}

.page2 h4 {
	font-family: "Kop";
	font-size: 2.2em;
	font-weight: 100;
}

.page2 button {
	border-radius: 1em;
	border-color: white;
	background-color: var(--color-accents);
	color: var(--color-text2);
	width: 8em;
	padding: 1em;
	position: absolute;
	bottom: 2em;
	opacity: 100%;
	left: 4em;
}

.page2 button:active,
.page2 button:hover {
	border-radius: 1em;
	border-color: black;
	background-color: lightgray;
	color: var(--color-text);
	width: 8em;
	padding: 1em;
	position: absolute;
	bottom: 2em;
	opacity: 100%;
	left: 4em;
	box-shadow: 5px 5px white;
}


/**************/
/* SECTIE 1 P2*/
/**************/
.page2 > section:first-of-type {
	background-color:white;
}

.page2 > section:first-of-type > article:first-of-type {
	position: relative;
	overflow: hidden; /* Voorkom dat de tekst buiten de sectie valt */
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items:center;
	text-align:left; /* Uitlijnen van tekst in het midden van de afbeelding */
	margin-top: 7em;
	max-width: 50em;
}
  
.page2 > section:first-of-type > img:first-of-type {
	position: absolute;
	margin: 0;
	top: 8em;
	width: 100%; /* Breedte 100% van de pagina */
	height: 35em; /* Hoogte instellen op 35em */
	object-fit: cover; /* Bijsnijden (croppen) om de verhoudingen te behouden */
	overflow: hidden;
}

.page2 section:first-of-type h1,
.page2 section:first-of-type h2,
.page2 section:first-of-type p {
	position: relative; /* Breng de tekst naar voren */
	z-index: 1; /* Plaats de tekst bovenop de afbeelding */
	padding: 0; /* Voeg wat ruimte toe rond de tekst voor leesbaarheid */
}





/*****************/
/* H3 boven div 1*/
/*****************/
.page2 h3:first-of-type {
	margin-top: 8em;
}





/*****************/
/* DIV 1, 3, 5 P2*/
/*****************/
.page2 div:first-of-type,
.page2 div:nth-of-type(3),
.page2 div:nth-of-type(5) {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin-left: 4em;
}

.page2 div:first-of-type section,
.page2 div:nth-of-type(3) section,
.page2 div:nth-of-type(5) section {
	margin: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center; /* Aangepast naar het midden uitlijnen */
	align-items: center; /* Aangepast naar het midden uitlijnen */
	position: relative;
}

.page2 div:first-of-type img,
.page2 div:nth-of-type(3) img,
.page2 div:nth-of-type(5) img {
	flex: 1;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	padding: 0;
}

.page2 div:first-of-type section:nth-of-type(1) p {
	color: var(--color-text); /* Zwart voor de eerste p in div 1 */
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

.page2 div:first-of-type section:nth-of-type(2) p,
.page2 div:first-of-type section:nth-of-type(3) p {
	color: var(--color-text2); 
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

.page2 div:first-of-type h4:first-of-type {
	margin: 0.5em;
	color: var(--color-text2);
	text-align: center; /* Centreren van de h4 */
	position: absolute;
	bottom: 1em; 
}

.page2 div:nth-of-type(3) p,
.page2 div:nth-of-type(5) p {
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

/* Specifiekere styling div 3 */

.page2 div:nth-of-type(3) h4:first-of-type {
	margin: 0.5em;
	color: var(--color-text2); 
	text-align: center; /* Centreren van de h4 */
	position: absolute;
	bottom: 1em; 
}

.page2 div:nth-of-type(3) section:nth-of-type(2) h4 {
	margin: 0.5em;
	color: var(--color-text);
	text-align: center; /* Centreren van de h4 */
	position: absolute;
	bottom: 1em; 
}

.page2 div:nth-of-type(3) section:nth-of-type(2) p {
	color: var(--color-text);; /* Zwart voor de eerste p in div 1 */
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

.page2 div:nth-of-type(3) section:nth-of-type(1) p,
.page2 div:nth-of-type(3) section:nth-of-type(3) p {
	color: var(--color-text2); 
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

/* Specifiekere styling div 5 */

.page2 div:nth-of-type(5) h4:first-of-type {
	margin: 0.5em;
	color: var(--color-text2); 
	text-align: center; /* Centreren van de h4 */
	position: absolute;
	bottom: 1em; 
	left: 0.1em;
}

.page2 div:nth-of-type(5) section:nth-of-type(1) p,
.page2 div:nth-of-type(5) section:nth-of-type(2) p,
.page2 div:nth-of-type(5) section:nth-of-type(3) p {
	color: var(--color-text2);
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}





/*****************/
/* DIV 2, 6    P2*/
/*****************/
.page2 div:nth-of-type(2),
.page2 div:nth-of-type(6)  {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2em;
	position: relative;
}

.page2 div:nth-of-type(2) section,
.page2 div:nth-of-type(6) section {
	margin: 1em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: left;
	align-items: baseline;
	max-width: 40.5em;
	position: relative;
}

.page2 div:nth-of-type(2) img,
.page2 div:nth-of-type(6) img {
	flex: 1;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	padding: 0;
}

/* Specifiekere styling div 2 */

.page2 div:nth-of-type(2) h4:first-of-type {
	margin: 0.5em;
	color: var(--color-text2);
	text-align: center; /* Centreren van de h4 */
	position: absolute;
	bottom: 4.1em; 
	left: 1em;
}

.page2 div:nth-of-type(2) section:nth-of-type(1) p:first-of-type {
	color: var(--color-text2); 
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

.page2 div:nth-of-type(2) section:nth-of-type(2) p:first-of-type {
	color: var(--color-text); 
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

.page2 div:nth-of-type(2) p:nth-of-type(2) {
	color: var(--color-text2);
	text-align: left; /* Centreren van de h4 */
	position: absolute;
	bottom: 4.5em; 
	left: 3.5em;
	width: 32em;
}

/* Specifiekere styling div 6 */

.page2 div:nth-of-type(6) h4:first-of-type {
	margin: 0.5em;
	color: var(--color-text2);
	text-align: center; /* Centreren van de h4 */
	position: absolute;
	bottom: 4.1em; 
	left: 1em;
}

.page2 div:nth-of-type(6) section:nth-of-type(1) p:first-of-type,
.page2 div:nth-of-type(6) section:nth-of-type(2) p:first-of-type {
	color: var(--color-text2); 
	position: absolute;
	top: 0.5em;
	right: 2em; /* Rechtsboven uitlijnen */
}

.page2 div:nth-of-type(6) p:nth-of-type(2) {
	color: var(--color-text2);
	text-align: left; /* Centreren van de h4 */
	position: absolute;
	bottom: 4.5em; 
	left: 3.5em;
	width: 32em;
}

.page2 div:nth-of-type(6) {
	margin-bottom: 6em;
}





/*********/
/* DIV 4 */
/*********/
div:nth-of-type(4) {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-top: 2em;
	position: relative;
	margin-left: 5em;
	margin-right: 5em;
}

div:nth-of-type(4) img {
    flex: 1;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	padding: 0;
}


div:nth-of-type(4) section {
	color: var(--color-text2);
	text-align: left; /* Centreren van de h4 */
	position: absolute;
	bottom: 18em; 
	left: 5em;
	width: 32em;
}

div:nth-of-type(4) h2,
div:nth-of-type(4) h4 {
    text-align: left; /* Links uitlijnen */
	color: var(--color-text2);
	margin: 0;
}

div:nth-of-type(4) h2 {
	font-size: 1em;
	margin-bottom: 0.2em;
}

div:nth-of-type(4) p,
div:nth-of-type(4) button,
div:nth-of-type(4) p:last-child {
    text-align: left; /* Links uitlijnen */
    display: inline-block; /* Plaats deze elementen naast elkaar */
    margin-right: 1em; /* Voeg wat ruimte tussen de elementen toe */
}

div:nth-of-type(4) button,
div:nth-of-type(4) button:active,
div:nth-of-type(4) button:hover {
	position: absolute;
	bottom: -4em;
	left: 0em;
}

div:nth-of-type(4) p:last-of-type {
	position: absolute;
	bottom: -3.5em;
	left: 8em;
}





/*******************/
/* OVERIGE STIJLEN */
/*******************/
h1 {
	font-family: "Kop";
	color: var(--color-text2);
	font-size: 3em;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 0.2em;
}

h2 {
	font-family: "NormalText";
	font-weight: lighter;
	color: var(--color-text2);
}

button {
	background-color: var(--color-background);
}

li {
	list-style-type: none;
}

p {
	font-family: "NormalText", Arial;
}

a {
	font-family: "NormalText", Arial;
}





/**********************/
/* FOOTER PAGE 1/2 */
/**********************/
footer {
	background-color: #1f3832;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	padding-bottom: 2em;
}
  
footer > img:first-of-type {
	margin: 0 auto; /* Horizontaal centreren van het logo */
	position: relative;
	bottom: 2em;
}
  
footer > p:first-of-type {
	color: var(--color-text2);
	text-transform: uppercase;
	position: relative;
	bottom: 1em;
	margin: 0;
}

footer > a {
	margin: 1em 0; /* Verticaal centreren van de tekst met wat ruimte boven en onder */
	color: var(--color-text2);
}

a:focus {
	outline: none !important;
    border: 1px solid white;
    box-shadow: 0 0 10px black;
}

footer nav {
	max-width: 80%;
}

footer nav ul:first-of-type li a {
	color:var(--color-text2);
}

footer nav ul:nth-of-type(2) li a {
	color: #989c9c;
}

footer article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer article img {
	margin-left: 2em;
	margin-right: 2em;
}

footer p:last-of-type {
	color: #989c9c;
	font-size: 0.6em;
	margin-right: 50em;
	margin-left: 50em;
	padding-top: 1em;
}
